@import "media_queries";

//********************** Header Styles *********************
body {
  font-family: "Lato";
  background-color: #fafafa;
}

header {
  background-color: #ffab00;
  height: auto;
  left: 0;
  padding: 12px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
  
  @include desktop {
    text-align: center;
  }
}

.header__logo {
  color: #FFFFFF;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  width: inherit;
  max-width: 1200px;
  
  @include tablet {
    font-size: 26px;
    margin: 10px auto;
  }
  
  @include desktop {
    font-size: 32px;
  }
  
  i {
    margin: 5px;
    transform: rotate(-20deg);
  }
}

//********************** Hero Styles *********************

.hero {
  background: url('../images/bk.jpg') fixed top center / cover no-repeat;
  background-size: cover;
  display: flex;
  height: 300px;
  margin-top: 0;
  width: 100%;
  
  @include tablet {
    margin-top: 50px;
  }
  
  @include desktop {
    height: 500px;
    margin-top: 70px;
  }
}

.hero__copy-area {
  margin: auto;
  text-align: center;
  text-shadow: 1px 2px 8px rgba(0,0,0,0.7);
  
  @include desktop {
    width: 50%;
  }
}

.hero__slogan {
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
  
  @include tablet {
    font-size: 21px;
  }
  
  @include desktop {
    font-size: 27px;
  }
}

.hero__name {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 26px;
  
  @include tablet {
    font-size: 48px;
  }
  
  @include desktop {
    font-size: 73px;
  }
}

//********************** Footer Styles *********************

footer {
  background-color: #023a67;
  bottom: 0;
  display: flex;
  font-size: 12px;
  position: relative;
  width: 100%;
  z-index: 2;
  
  @include desktop {
    position: fixed;
    font-size: 18px;
  }
  
  a {
    color: white;
    margin: 20px auto;
    text-decoration: none;
    
    @include tablet {
      margin: 25px auto;
    }
    
    @include desktop {
      margin: 30px auto; 
    }
  }
}

